[2021-07-20 19:48] patrickmineault opened #2 "Linking issues on Ubuntu 20 for cthulhu"
## 🐛 Bug

`import cthulhubindings` fails with error` ImportError: cthulhubindings.cpython-36m-x86_64-linux-gnu.so: undefined symbol: shm_unlink`

## To Reproduce

Steps to reproduce the behavior:

1. Installed labgraph on Ubuntu 20, with base install of Python 3.6 (from `ppa:deadsnakes/ppa`)
1. python3.6 -m labgraph.examples.simple_viz
1. `ImportError: /usr/local/lib/python3.6/dist-packages/labgra

[2021-07-21 04:39] jfResearchEng commented on #2
Thanks, Patrick, for reporting this issue. Pypi currently does not support Ubuntu. One alternative is to try to use another system. In the meanwhile, a cross-platform Pypi solution will be explored. We will keep you updated.

[2021-07-21 14:20] patrickmineault commented on #2
I agree it would be convenient to install from PyPI. I'm building from source though, cloning from the git repo and compiling using buck version 577c273d9746e42769e5dbb7bb5a092ba3ec82c2.

[2021-07-27 14:11] griffinmilsap commented on #2
Also curious - what is the fundamental limitation keeping this from running on python versions other than 3.6?  If it's the cthulhu bindings, I'd be quite eager for a pure-python fork of this project with Cthulhu stripped out.  It's an incredibly performant messaging library, but I get the feeling that a ZMQ backend would be more than sufficient for 90% of users.

[2021-07-27 23:32] jfResearchEng commented on #2
Thank you, patrickmineault and patrickmineault for your feedback! We have included this issue in the todo list of LabGraph. Alternatively, a potential easy fix could be by switching to clang++.

[2021-07-28 19:09] yahiaali opened #3 "Apache Ant causes 404 error during docker build"
## 🐛 Bug

`docker build` fails with an HTTP 404 error when trying to download Apache Ant

## To Reproduce

Steps to reproduce the behavior:

1. Navigate to the root directory of the `labgraph` repository.
1. Run `docker build .`

## Expected behavior

In the following line, Docker attempts to download Apache Ant 1.10.9 from a link that no longer exists:
https://github.com/facebookresearch/labgraph

[2021-07-30 03:15] yahiaali opened #4 "Test suite crashes while running test_process_manager.py"
## 🐛 Bug

When running the test suite with `python -m pytest --pyargs labgraph`, pytest crashes at  [test_process_manager.py](https://github.com/facebookresearch/labgraph/blob/97e0f18d5b108d45abb7b0b45e4d787b86af5979/labgraph/runners/tests/test_process_manager.py). Strangely, the tests complete successfully when `test_process_manager.py` is run independently.

## To Reproduce

Steps to reproduce t

[2021-07-30 03:25] jfResearchEng commented on #3
This update shall fix the error message: [link](https://github.com/facebookresearch/labgraph/commit/b905bc0caf9f619bec345987a4e039b616918901). I'm going to close this issue. If you still have questions, feel free to re-open this issue.

[2021-07-30 03:25] #3 closed

[2021-07-31 00:43] jfResearchEng commented on #2
Hi patrickmineault, the recent update could help address your Ubuntu-related issue. You could either run Dockerfile.Ubuntu or follow the instructions in the Dockerfile. I'm going to create some instructions on running Dockerfile shortly. Feel free to come back to this issue again should you encounter further issues using LabGraph. Thank you for helping us create the 1st issue in LabGraph!

[2021-07-31 00:48] jfResearchEng commented on #2
Hi griffinmilsap, I will create an FAQ session containing this topic and hope you could come back and help us discuss more on this topic.

[2021-07-31 00:49] jfResearchEng commented on #2
I'm going to close this issue for now. If have more questions, feel free to reopen this issue or create a new issue.

[2021-07-31 00:49] #2 closed

[2021-07-31 00:52] jfResearchEng commented on #4
Hi yahiaali, the recent update could help with your reported issue. If this issue is still a blocker for you to use LabGraph, feel free to let us know. I'm going to close this issue for now, feel free to reopen or create a new issue. Thank you for being our top issue reporter as of this moment.

[2021-07-31 00:52] #4 closed

[2021-07-31 03:17] yahiaali commented on #4
Thanks @jfResearchEng, the following commands worked for me:
[code]

[2021-07-31 03:37] yahiaali commented on #4
Thanks for the update @jfResearchEng! The issue is resolved now. I was able to run the test suite using the new `test_script.sh`, and all tests are now passing. The commands I used are below:
[code]

[2021-08-01 19:50] patrickmineault opened #5 "Example usage for ZMQ"
## 📚 Documentation

Most people using LabGraph will be using external data sources, and thus will likely want to pipe their data through zmq. The examples however, do not use ZMQ. I've assembled a minimalist ZMQ data source and sink example here:

https://github.com/patrickmineault/labgraph/tree/master/labgraph/examples

Do you think that's something that should be in the examples? Let me know and

[2021-08-01 19:54] jfResearchEng commented on #5
Hey patrickmineault,

This is awesome! Feel free to push this as a PR. I'll test and review on my side and get your example published to our community.

Cheers,
Jimmy

[2021-08-01 20:54] #5 closed

[2021-08-02 16:27] patrickmineault opened #7 "LSL support"
## 🚀 Feature

Support LabStreamingLayer sources

## Motivation

Labgraph is meant to be used for processing streaming biosignals in realtime. However, it doesn't currently have drivers for biosignal hardware (ExG, fNIRS, etc.), which means that users have to implement their own nodes to stream external data. This forms a barrier to experiment with LG.

## Pitch

[LabStreamingLayer](https://github.

[2021-08-02 16:57] jfResearchEng commented on #7
Hi patrickmineault,

Great idea! It aligns with current roadmap.

Some additional reference (for our community): the following Device Nodes would be useful for LabGraph to support biosignal hardware. I'll prepare a doc discussing the future roadmap on LabGraph with our community as well.

1. ZMQ
2. Lab Streaming Layer
pylsl, available on [PyPI](https://pypi.org/project/pyzmq/)
3. Network Sockets:

[2021-08-02 18:22] ksachdeva opened #8 "Support for macOS"
## 🚀 Feature
Support to build on macOS would be highly appreciated.

## Motivation
macOS is one of the primary dev platforms for many developers.

## More information
As such, I gave it a try and after few issues with buck/java8, `python setup.py build` started to proceed but then am stuck at issues with linking errors with `gettext`

Seems other projects have faced it and so far none of the remed

[2021-08-02 18:30] jfResearchEng commented on #8
Hi ksachdeva,

Can you help us provide more details on how to reproduce this error? An example can be found [here](https://github.com/facebookresearch/labgraph/issues/2).

[2021-08-02 18:36] ksachdeva commented on #8
Thanks @jfResearchEng

Here are the steps:

* I downloaded `buck` from https://github.com/facebook/buck/releases/tag/v2021.01.12.01
* Installed various required dependencies using homebrew (ant, openjdk@8 etc)
* I am using python 3.6 as it is this version that is listed (Have tried both venv and regular install)

Issued
[code]
Here is the trace I get:

[code]

[2021-08-02 19:44] yahiaali opened #9 "How does logging work in LabGraph?"
## ❓ Questions and Help
### Question
LabGraph includes an [HDF5Logger](https://github.com/facebookresearch/labgraph/blob/e9e98ec120cff24fdd11a3c7f3a3059938bc1ff1/labgraph/loggers/hdf5/logger.py#L43) node, but the documentation does not explain how to use this node. How should the HDF5Logger be added to a Graph?

### What I have tried
Using the [simple_viz.py](https://github.com/facebookresearch/la

[2021-08-02 23:35] yahiaali commented on #9
I figured out the issue. Logging is enabled by overriding [Graph.logging](https://github.com/facebookresearch/labgraph/blob/23e54b67b8528da557c288f4af87cbbde4c44a18/labgraph/graphs/graph.py#L130-L137) like so:

[code]

Also, to avoid an `AttributeError` when running this, you will need to move `RandomMessage` from [here](https://github.com/facebookresearch/labgraph/blob/e9e98ec120cff24fdd11a3c7f3a

[2021-08-02 23:35] #9 closed

[2021-08-04 22:15] ksachdeva commented on #8
Hi @jfResearchEng

Any insights that may help would be appreciated.

Regards & thanks
Kapil

[2021-08-04 22:25] jfResearchEng commented on #8
Hi @ksachdeva

The error information you shared above shows a problem with g++ compiler. Note that the supported compilers used in pybinding11 can be found [here](https://github.com/facebookresearch/labgraph/tree/master/third-party/pybind11).

Mac PyPI is also in the roadmap of LabGraph.

Hope you would be able to use LabGraph soon. Thank you for your patience with LabGraph!

Best,
jf

[2021-08-15 20:00] jfResearchEng opened #16 "LSL Support"
LabStreamingLayer is a widely-used transport layer to stream biosignal data. It is supported by over 50 biosignal devices. An LSL sub node could be implemented in much the same way that the ZMQ sub node is implemented.

[2021-08-15 20:01] jfResearchEng commented on #16
Closing for duplicate issue.

[2021-08-15 20:01] #16 closed

[2021-08-15 20:27] jfResearchEng commented on #7
LSL support would be very useful for LabGraph framework. It could be added as an extension to LabGraph Core, and an example on using Psychopy can be found [here](https://github.com/facebookresearch/labgraph/tree/main/extensions/psychopy_example).

[2021-09-17 18:08] Yunusbcr opened #18 "Visualizing the computation graph"
## ❓ Questions and Help
Is there a method for visualizing the computation graph like [this](http://wiki.ros.org/rqt_graph)?

[2021-09-17 20:42] jfResearchEng commented on #18
This is a relatively popular feature request; unfortunately not at the moment; we may try to work on this feature soon (no promise though).

[2021-09-20 06:25] #18 closed

[2021-10-20 23:18] Yunusbcr opened #19 "Time intervals of messages are not equally separated for fixed sample rate."
## ❓ Questions and Help

Timestamps of messages are not equally separated for fixed sample rate. How can I have equal time separation between samples?

## To Reproduce

Steps to reproduce the behavior:
In **simple_viz.py** change line 49 as,
[code]
and with `SAMPLE_RATE = 10.0` I am getting this time intervals(in ms) as output,

[code]
How can I have 100.0 ms time interval between samples?

P.S. F

[2021-10-20 23:36] jfResearchEng commented on #19
Thanks for your question! This would be an expected behavior when using multiprocessing asynchronous streaming framework.

[2021-10-21 00:35] jfResearchEng commented on #19
I'm going to close this issue for now. Feel free to reopen when you have more questions.

[2021-10-21 00:35] #19 closed

[2021-11-03 19:30] Yunusbcr opened #20 "Array dimension problem with HDF5 Logger when it is used with np.ndarray"
## 🐛 Bug

HDF5 Logger records only some portion on the numpy array when it has 2 or more dimesion

## To Reproduce

Steps to reproduce the behavior:

1. Create `RandomMessage.py` as,
[code]
and save it in same folder with `simple_viz.py`. import in `simple_viz.py` as `from RandomMessage import RandomMessage`.
!!! If you don't do this, it creates pickle problem.

2. https://github.com/facebookresea

[2021-11-16 19:08] jfResearchEng commented on #20
Thank you, Yunusbcr to report this issue!

For fix length numpy array, the following could be used in RandomMessage.py:
data: lg.NumpyType((3, 2), np.float64)
instead of -> data: np.ndarray

Logging support for multi-dimensional dynamic array will be added to a to-do list.

I'm going to close this issue for now and feel free to reopen this issue if there's more question(s).

[2021-11-16 19:08] #20 closed

[2021-12-06 22:12] #7 closed

[2021-12-07 20:26] #8 closed

[2021-12-08 17:43] mmmspatz opened #31 "python executable not found on windows"
On Windows, there is no binary named `python3.exe` or `python36.exe` (only `python.exe`), so this fails to find the executable:
https://github.com/facebookresearch/labgraph/blob/4df7f1f379411e5078de343bf0a7b1a34b1573b4/third-party/python/DEFS#L21-L27

`python` used to be in this list, but it was removed in eda02c8429f30f64fb3cf4430841bb5b60dddca3. Can it be added back? The correct python version (

[2021-12-08 17:52] jfResearchEng commented on #31
This is mainly for the case when "python" is reserved for another version. A fix for this would be to copy the python.exe binary to python3.exe or python3.x.exe in the same folder.
Let me incorporate the logic "python" as well based on your suggestion.
If you encounter other problems, feel free to let us know.

[2021-12-08 17:58] jfResearchEng commented on #31
An update can be found here: https://github.com/facebookresearch/labgraph/pull/32

[2021-12-08 17:59] jfResearchEng commented on #31
Closing this for now, feel free to reopen if you have more feedback.

[2021-12-08 17:59] #31 closed

[2021-12-14 17:40] Yunusbcr opened #34 "No module named 'buck_ext'"
## 🐛 Bug

Upgrading LabGraph with,

`python3.6 -m pip install labgraph -U`

creates `No module named 'buck_ext'` error

## Environment

[code]

[2021-12-14 22:06] Yunusbcr commented on #34
I was using pip 21.3.1, downgraded to pip 21.1.3 but it still giving me same error.

I have checked the the file "labgraph-2.0.0.tar.gz" which is downloaded from [here](https://files.pythonhosted.org/packages/7d/42/58156f7b993bbcc436a96cb6067682782d6075c86c1e9cc9b30183d0be8a/labgraph-2.0.0.tar.gz) and `buck_ext.py` is missing but I think we should not have dependency to buck if have installation w

[2021-12-14 22:14] Yunusbcr commented on #34
I think PyPI does not have labgraph-2.0.0  version of this
`labgraph-1.0.2-cp36-cp36m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl`

[2021-12-14 22:27] jfResearchEng commented on #34
This is for Linux at this moment; for Windows and Mac, we will not have this problem.

[2021-12-15 17:22] jfResearchEng commented on #34
Alternative solution is to build it from the source.

[2021-12-28 18:54] pperanich commented on #2
Are there any further instructions on how to correct the above issue when compiling from source on Ubuntu 18 / 20?

Referenced issue:
`ImportError: /usr/local/lib/python3.6/dist-packages/labgraph-1.0.0-py3.6-linux-x86_64.egg/cthulhubindings.cpython-36m-x86_64-linux-gnu.so: undefined symbol: shm_unlink`

[2021-12-28 18:57] jfResearchEng commented on #2
An example on usage in Ubuntu can be found here: https://github.com/facebookresearch/labgraph/blob/main/Dockerfile.Ubuntu

[2021-12-28 18:57] jfResearchEng commented on #2
An example on usage in Ubuntu can be found here: https://github.com/facebookresearch/labgraph/blob/main/Dockerfile.Ubuntu

[2021-12-28 19:36] pperanich commented on #2
I am attempting to build from source (with python3.9) rather than installing the PyPi package. After running `python3 setup.py install` within my conda env, it appears that everything is built correctly and installed, but upon importing into python, I get the following error:
[code]

The Dockerfile you linked is installing from PyPI rather than building from source.

Thanks for the help!

[2021-12-28 19:53] jfResearchEng commented on #2
The reason for this error is that the pybinding is not cross-platform supported. For a quick start of using the LabGraph in Ubuntu, I would recommend using pypi. Alternatively, I will find some time in the future supporting additional linux environments (e.g. via pypi, build from source and conda). If you are interested in getting some hands-on for pybindings, you could use the following docker fi

[2021-12-28 19:54] pperanich commented on #2
Thanks, I'll take a look at that.

[2022-01-07 17:31] jfResearchEng commented on #34
Yes, v2.0.0 equivalent of the above wheels will be supported for linux OSes.

[2022-01-07 18:11] pperanich commented on #34
Good to hear that. PyPi does not currently have the corresponding .whl, only wheels for windows and mac.
![Screen Shot 2022-01-07 at 1 08 52 PM](https://user-images.githubusercontent.com/34974315/148587850-2a012ccc-f4f3-4171-9943-7bd52364e1f2.png)

[2022-01-14 22:30] jfResearchEng opened #41 "Network Sockets Support in LabGraph"
## 🚀 Feature
Sensor & Device integration is an important part to help accelerate researchers development. This integration on Network Sockets will allow new devices to be automatically usable in LabGraph. Network socket here refers to python socket module: https://docs.python.org/3/library/socket.html . A stretch goal is to also support Boost.Asio, https://www.boost.org/doc/libs/1_76_0/doc/html/bo

[2022-01-15 00:41] jfResearchEng opened #42 "Serial Port Support in LabGraph"
## 🚀 Feature
Sensor & Device integration is an important part to help accelerate researchers development. This integration on Serial Port will allow new devices to be automatically usable in LabGraph. Serial Port here refers to pyserial: https://pypi.org/project/pyserial/

## Additional context

Create relevant files using the example from https://github.com/facebookresearch/labgraph/tree/main/lab

[2022-01-15 00:44] jfResearchEng opened #43 "Message-based I/O Support in LabGraph"
## 🚀 Feature
Sensor & Device integration is an important part to help accelerate researchers development. This integration on Message-based I/O will allow new devices to be automatically usable in LabGraph. Message-based I/O here refers to cobs-python: https://pypi.org/project/cobs/

## Additional context

Create relevant files using the example from https://github.com/facebookresearch/labgraph/tr

[2022-01-15 19:52] jfResearchEng opened #44 "LabGraph Monitor Improvement - Add input/output message information in YAML generation"
## 🚀 Feature
Add input/output message  information (e.g. data type and message name) in YAML generation (backend).

## Additional context

1. Existing application can be found [here] (https://github.com/facebookresearch/labgraph/tree/main/extensions/yaml_support)
2. The code should be added at folder is https://github.com/facebookresearch/labgraph/tree/main/extensions/yaml_support
2. Create setup.

[2022-01-15 19:56] jfResearchEng opened #45 "LabGraph Monitor Improvement - Add input/output message information in LabGraph Monitor UI"
## 🚀 Feature
Add input/output message information (e.g. data type and message name) in LabGraph Monitor GUI (frontend)

## Additional context

1. Existing application can be found [here] (https://github.com/facebookresearch/labgraph/pull/38)
2. The code should be added at folder is https://github.com/facebookresearch/labgraph/pull/38
3. Create setup.py and README.md, where example can be found [he

[2022-01-15 21:25] jfResearchEng opened #46 "Create LabGraph Tutorials using Sphinx"
## 🚀 Feature
Create LabGraph tutorials using [Sphinx](https://www.sphinx-doc.org/en/master/). Examples of sphinx can be found [here](https://www.sphinx-doc.org/en/master/examples.html). Tutorial contents can be found in LabGraph [docs](https://github.com/facebookresearch/labgraph/tree/main/docs), [examples](https://github.com/facebookresearch/labgraph/tree/main/labgraph/examples).

## Additional c

[2022-01-17 23:20] jfResearchEng commented on #34
You can now find an update for LabGraph Linux support.

I'm going to close this issue for now. If you have further questions, feel free to comment in this thread.

[2022-01-17 23:20] #34 closed

[2022-01-18 18:05] pperanich opened #50 "Pytest causes bus error on test_hang."
## 🐛 Bug

When running pytest on the whole Labgraph module, via `python -m pytest --pyargs -v labgraph --ignore=labgraph/devices`, the test `labgraph/runner/tests/test_exception.py::test_hang` fails on `[ProcessPhase.STOPPING]` every time with a SIGABRT. However, running these tests alone, via `python -m pytest --pyargs -v labgraph.runners.tests.test_exception`, passes.

## To Reproduce

Steps to

[2022-01-18 18:26] jfResearchEng commented on #50
You can use https://github.com/facebookresearch/labgraph/blob/main/test_script.sh for testing instead.

[2022-01-18 18:34] pperanich commented on #50
Testing with that scripts works, but running the test suite all together shouldn't cause a memory bus fault as is the case described above. If this is expected behavior, can we document why that is?

[2022-01-18 18:50] jfResearchEng commented on #50
It is possibly because the graph is not shut down completely for the pytest, I'll take a look at this.

[2022-01-20 00:12] jfResearchEng opened #51 "LabGraph Monitor Improvement - Graphviz for LabGraph graphs"
## 🚀 Feature
We would like to be able to generate a graphviz visualization of the LabGraph topology. This will be a function that looks something like:
```def generate_graphviz(graph: df.Graph, output_file: str) -> None:```
The graph topology itself consists of the following:
* Methods (these are the nodes in the graph)
* Publishers (these are directed edges leaving a method)
* Subscribers (these

[2022-01-28 14:41] bennaaym commented on #44
Hello @jfResearchEng , the current application generates input/output message information (e.g. data type and message name)
![snippet](https://user-images.githubusercontent.com/68559207/151566137-dc21cf11-bcc3-4fec-b094-a74bc320f38d.PNG)

[2022-02-01 22:49] jfResearchEng opened #53 "LabGraph Monitor Improvement - Support graph attributes in YAML"
Use a similar method in a related [PR](https://github.com/facebookresearch/labgraph/issues/51), to support LabGraph topology in [LabGraph Monitor](https://github.com/facebookresearch/labgraph/tree/main/extensions/prototypes/labgraph_monitor). This will be a function that looks something like:
```def generate_labgraph_monitor(graph: df.Graph) -> None:```
The graph topology itself consists of the fo

[2022-02-07 05:37] #51 closed

[2022-02-07 08:31] bennaaym commented on #53
Hello, @jfResearchEng
II would like to work on this feature. For this, I would like to know how the "generate_labgraph_monitor" function will be used to support the Front-end of LabGraph Monitor. Are we trying to generate a YAML representation of the graph? (something like: https://github.com/facebookresearch/labgraph/blob/main/extensions/prototypes/labgraph_monitor/examples/mockDataGraph.js)

[2022-02-07 14:42] jfResearchEng commented on #53
Hello, @bennaaym

Great to see that you are interested in this feature!

Yes, this is correct. More specifically, LabGraph python application will be a websocket server, LabGraph Monitor (js application) will be a websocket client; websocket clinet applications (e.g. js applications, typescript applications) can connect to the websocket server and receive the YAML graph representation in real time

[2022-02-07 20:12] jfResearchEng opened #55 "LabGraph Support in Mac M1"
## 🚀 Feature
Support LabGraph in Mac M1.

## Motivation

Based on Wikipedia, the Apple M1 is an ARM-based system on a chip (SoC) designed by Apple Inc. as a central processing unit (CPU) and graphics processing unit (GPU) for its Macintosh computers and iPad Pro tablets. It also marks the third change to the instruction set used by Macintosh computers, 14 years after Apple switched Macs from Power

[2022-02-08 18:07] dtemir opened #56 "Graphviz Not Installed"
## 📚 Documentation

I had an error running `python -m extensions.graphviz_support.graphviz_support.tests.test_lg_graphviz_api` from the root directory even after running `python setup.py install` for the extension

[code]

I was able to resolve the issue following this https://github.com/WillKoehrsen/Data-Analysis/issues/36 with `sudo apt install graphviz` for Ubuntu 20.04

Fatima is having the sa

[2022-02-08 18:09] dtemir commented on #56
@bennaaym can you let me know if you had to install graphviz separately as well?

[2022-02-08 18:10] dtemir commented on #56
`brew install graphviz` this helped to Fatima

[2022-02-08 18:20] bennaaym commented on #56
@dtemir Beside Graphviz python package. Graphviz also need to be installed separately (https://graphviz.org/download/)

Please check Prerequisites for more information :
https://github.com/facebookresearch/labgraph/blob/main/extensions/graphviz_support/README.md

[2022-02-08 18:21] #56 closed

[2022-02-09 21:13] fzchriha commented on #45
Can I please work on this issue

[2022-02-15 00:39] jfResearchEng commented on #44
Example:
Message Name - RandomMessage
Data Types & Fields:
timestamp, float
data, np.ndarray

[2022-02-17 22:19] fzchriha commented on #41
Hey Jimmy I will start working on these issues

[2022-02-17 22:36] jfResearchEng commented on #41
Sounds good!

[2022-03-29 19:54] dtemir opened #68 "Determine Source Node in Subscriber?"
## ❓ Questions and Help

I have a publisher.
[code]

I have a subscriber.

[code]

They are connected through the graph.

[code]

**Question: is there a way for me to determine to which publisher my subscriber `INPUT_1` is subscribed to within `def add_message_1()`?**

[code]

[2022-03-31 08:35] bennaaym commented on #68
Hey @dtemir, in your example the subscriber is the method **"add_message_1"**, **INPU_1** is a topic to which the method is subscribing, The current implementation of NodeMethod doesn't really hold data about **NOISE_GENERATOR.OUTPUT"** it only holds data related to **INPU_1**

you can check [method.py](https://github.com/facebookresearch/labgraph/blob/main/labgraph/graphs/method.py) to explore th

[2022-03-31 20:52] dtemir commented on #68
thank you @bennaaym! i was afraid that would be the case, but i'll try to find another way. i'm trying to do this to be able to associate the input with messages under the [`serializer_node.py`](https://github.com/facebookresearch/labgraph/blob/f9af520095e018b94023eb4450a4efeee5ea5b72/extensions/yaml_support/labgraph_monitor/server/serializer_node.py#L80)

[2022-04-02 19:22] fzchriha opened #69 "WebSocket Connection Interrupted on LabGraph Monitor"
## 🐛 Bug

WebSocket connection is interrupted when trying to display the real-time messages on Labgraph Monitor (frontend)

## To Reproduce

Steps to reproduce the behavior:
1. python3 labgraph/examples/labgraph_monitor_example.py
2. `cd extensions/prototypes/labgraph_monitor`
3. yarn start
4. Click on **RandomMessage** Node

[code]

## Expected behavior

After a few seconds the real-time data fre

[2022-04-02 20:40] dtemir commented on #69
@fzchriha can you send a screenshot of the error you're getting? i'm trying understand the behavior from the gif, but it loops too fast I can't see what's written in the terminal

[2022-04-02 20:41] fzchriha commented on #69
Hi @dtemir It's in the description above:
`- WS_SERVER_NODE: Raised an exception: RuntimeError("Task <Task pending name='Task-162949' coro=<WSAPIServerNode.ws_server_publisher() running at /Users/fatimazahra.chriha/Desktop/mlh/spring2022/labgraph/labgraph/websockets/ws_server/ws_api_node_server.py:125>> got Future <Future pending> attached to a different loop")`

[2022-04-02 20:42] dtemir commented on #69
@fzchriha yeah I see! I was just wondering if there something useful in the Python traceback that shows what parts of the code the error breaks

[2022-04-02 20:43] dtemir commented on #69
@fzchriha thank you! looking into that

[2022-04-02 21:10] dtemir commented on #69
@fzchriha just to be sure, this has been resolved?

https://github.com/facebookresearch/labgraph/pull/63#issuecomment-1086724512

[2022-04-02 22:01] fzchriha commented on #69
No it hasn't that comment was for realtime data sync with frontend

[2022-04-03 00:44] #53 closed

[2022-04-03 00:44] #45 closed

[2022-04-09 12:44] bennaaym commented on #69
@fzchriha could you update PR #63 to use the last version of Labgraph Monitor and see if that solves the issue. I tried it and it looks like working fine

![demo](https://user-images.githubusercontent.com/68559207/162574598-c7107363-27bc-473b-a721-1943ff063d63.gif)

[2022-04-09 23:26] dtemir commented on #68
closing this. @jfResearchEng's idea to use graph topology worked well. you can find the solution here: https://github.com/facebookresearch/labgraph/blob/ff2b8ec0107dfc8157480b0d97ca1c2593bede95/extensions/yaml_support/labgraph_monitor/generate_lg_monitor/generate_lg_monitor.py#L186

thank you for your help @bennaaym

[2022-04-09 23:26] #68 closed

[2022-04-11 20:39] fzchriha commented on #69
@bennaaym Hi Aymen I used the last version of labgraph monitor and for some reason when I try to connect using the latest changing @dtemir made (they work on my current PR) the status stays in **IS CONNECTING** and it never connects with the graph
<img width="317" alt="Screen Shot 2022-04-11 at 4 39 33 PM" src="https://user-images.githubusercontent.com/30349896/162828031-ad5d8c3e-3ddb-4d59-9820-8c

[2022-04-11 20:51] bennaaym commented on #69
@fzchriha, be sure that there is **.env.local** that has the following **key**:  REACT_APP_WS_API="ws://127.0.0.1:9000"

[2022-04-11 20:54] fzchriha commented on #69
Oh okay

[2022-04-11 20:57] fzchriha commented on #69
I have it there, but it still does not work

[2022-04-11 20:59] bennaaym commented on #69
could you send another screenshot of both the server console and the frontend?

[2022-04-11 21:00] fzchriha commented on #69
Frontend
<img width="1110" alt="Screen Shot 2022-04-11 at 4 59 47 PM" src="https://user-images.githubusercontent.com/30349896/162831226-9edd5ea5-d0eb-4221-ae49-e7f174980c02.png">

Backend
<img width="569" alt="Screen Shot 2022-04-11 at 5 00 38 PM" src="https://user-images.githubusercontent.com/30349896/162831322-7c5d0b6d-4968-4213-9a46-357b2e6ad297.png">

[2022-04-11 21:04] bennaaym commented on #69
Could you try to restart the app, that's essential to pick up the changes in the  .env variables

[2022-04-11 21:12] fzchriha commented on #69
Yes it won't work :(

[2022-04-14 15:39] dtemir commented on #69
hey guys, just commenting to see if you want this issue closed as it now works in #71 ?

[2022-04-14 15:46] dtemir opened #74 "Using Black for Code Formatter?"
## 🚀 Feature

I think it would be a good idea to use Black https://github.com/psf/black as a code formatter to set a code style.

## Motivation

I just think it would be a good idea to set a standard across the entire project.

I ran `black .` on the entire repository and got this. It looks like it would be useful to make the extensions more readable.

[code]

[2022-04-14 16:00] fzchriha commented on #69
Hi @dtemir,unfortunately, it still does not work. I will discuss it with Jimmy again in our next meeting. In the meanwhile can you try testing (frontend + backend) on your Mac machine?

[2022-04-14 17:03] dtemir commented on #69
@fzchriha sorry, I gave my mac to my sister for her school. But I just tested it on my Ubuntu 20.04 and the front-end + back-end seems to be working perfectly. Connected and disconnected a dozen of times without errors (except for back-end, which throws warnings whenever I disconnected). Do you think the bug is machine dependent then?

[2022-04-14 17:05] fzchriha commented on #69
That's what I'm trying to test out, because Ayman tested it on windows & ubuntu and I'm the only one who has this issue & have a mac. So we are trying to weed out the possible causes. Otherwise, this error would be related to the websocket API config (labgraph internet code)

[2022-04-14 17:06] dtemir commented on #69
Just to be sure, it throws the same error described above?

[2022-04-14 17:07] fzchriha commented on #69
Yes

[2022-04-14 17:12] garrettmflynn commented on #69
@fzchriha Happy to quickly test out the code on my Mac.

Has the `labgraph/examples/labgraph_monitor_example.py` been renamed? I'm unable to find it in the repo.

[2022-04-14 17:14] dtemir commented on #69
yeah it's now under `extensions/yam_support/labgraph_monitor/examples/labgraph_monitor_example.py`

[2022-04-14 17:16] fzchriha commented on #69
@garrettmflynn thank you, Garret, can you please use the yaml_support folder @dtemir has in #64

[2022-04-14 17:49] bennaaym commented on #74
@dtemir, a great suggestion I was thinking about that too. maybe Labgraph can use GitHub pre-commit hook to automate the formating (Black) and linting (Flake8) process.

[2022-04-14 18:16] garrettmflynn commented on #69
Oh sure. So you don't want me to run the `extensions/yaml_support/labgraph_monitor/examples/labgraph_monitor_example.py` like in your original **To Reproduce** section?

I've got the frontend running—though it's still quite unclear to me how to get the server running at ws://127.0.0.1:9000 despite adding the required .env.local file.

[2022-04-14 19:13] dtemir commented on #69
@garrettmflynn to run the server at `ws://127.0.0.1:9000` you need to run `python3 extensions/yaml_support/labgraph_monitor/examples/labgraph_monitor_example.py` and it requires labgraph

[2022-04-14 19:18] dtemir commented on #69
Have you tried this approach by chance? https://github.com/facebookresearch/labgraph/blob/main/docs/installation/macos.md

I think we faced a similar issue with @fzchriha a while back, setting it up on Mac OS. Maybe that's the same problem here?

[2022-04-14 20:54] dtemir commented on #74
Awesome idea. Looking into that right now.

Never built pre-commit hooks before. I was mostly thinking of a Makefile, but automating would good!

[2022-04-14 23:10] garrettmflynn commented on #69
@dtemir Got a bit further. Any chance you know how to fix this error?

<img width="548" alt="Screen Shot 2022-04-14 at 4 06 51 PM" src="https://user-images.githubusercontent.com/46533749/163491596-d7a4cb45-86c8-4474-88cf-b0f9002a010d.png">

[2022-04-15 15:39] dtemir commented on #69
@garrettmflynn just to be sure, what Python version are you using?

[2022-04-15 16:18] garrettmflynn commented on #69
@dtemir Good question! I was on 3.9, though now have downgraded to 3.8.12. Here's the new error:
<img width="555" alt="Screen Shot 2022-04-15 at 9 17 04 AM" src="https://user-images.githubusercontent.com/46533749/163594916-dd4ed0b0-2d3c-423d-a01d-a396d4810aa2.png">

[2022-04-15 17:35] dtemir commented on #69
@garrettmflynn thanks for trying it out with 3.8. Do you mind running `labgraph$ python -m labgraph.examples.simple_viz` just to make sure it's not just a python problem?

[2022-04-15 21:56] garrettmflynn commented on #69
@dtemir After getting into this, I don't think I'll be able to get this test done. I'd assumed the process would be substantially easier—though it looks like my dev environment won't cooperate.

After I restarted my terminal, the `python -m labgraph.examples.simple_viz` errored out and the `labgraph/examples/labgraph_monitor_example.py` and its React counterpart in the Monitor errored after I clic

[2022-04-15 21:58] dtemir commented on #69
no problem @garrettmflynn! thank you for taking your time

[2022-04-19 23:57] #46 closed

[2022-05-01 18:25] jfResearchEng opened #77 "LabGraph Monitor API Improvement"
## 🚀 Feature
LabGraph Monitor needs the user to define the websocket connections when generating the yaml file passed to the frontend. Example for labgraph_monitor_example.py ([link](https://github.com/facebookresearch/labgraph/blob/main/extensions/yaml_support/labgraph_monitor/examples/labgraph_monitor_example.py)):

[code]

Can we simplify the the API to the following instead:
[code]

## Additio

[2022-05-01 18:57] jfResearchEng opened #78 "LabGraph Monitor Performance Metrics - YAML generation"
## 🚀 Feature
Some performance metrics would be important for users to understand the real-time performance of the created graph:
1. Latency: Average time delays between nodes; Average time delays for the critical path of the graph; Average time delays for node computation
2. Throughput: Size of data passed per second (e.g. in bytes, kb or mb)
3. Data rate: Number of messages passed per second

Thi

[2022-05-01 19:03] jfResearchEng opened #79 "LabGraph Monitor Performance Metrics - Frontend Monitor Support"
## 🚀 Feature
Some performance metrics would be important for users to understand the real-time performance of the created graph:

1. Latency: Average time delays between nodes; Average time delays for the critical path of the graph; Average time delays for node computation
2. Throughput: Size of data passed per second (e.g. in bytes, kb or mb)
3. Data rate: Number of messages passed per second

Th

[2022-05-01 19:19] jfResearchEng opened #80 "Support LabGraph Monitor using a free online service"
## 🚀 Feature
Creating instructions on hosting LabGraph Monitor service using a free online service, [Reference](https://github.com/nodejs/node-v0.x-archive/wiki/Node-Hosting).

This would help reduce the computer usage for user locally and simplify the use case for LabGraph Monitor.

## Additional context

1. Existing application can be found [here] (https://github.com/facebookresearch/labgraph/tr

[2022-05-01 20:00] jfResearchEng opened #81 "Real-time Hand Tracking and Logging"
## 🚀 Feature
Hand tracking enables the use of hands as an input method for the Oculus Quest headsets. When using hands as input modality, it delivers a new sense of presence, enhances social engagement, and delivers more natural interactions with fully tracked hands and articulated fingers.

We can use LabGraph to record the data captured from Quest headset and visualize the data (e.g. in Unity).

[2022-05-03 04:51] jfResearchEng opened #82 "Hand Tracking Visualization"
## 🚀 Feature
Hand tracking enables the use of hands as an input method for the Oculus Quest headsets. When using hands as input modality, it delivers a new sense of presence, enhances social engagement, and delivers more natural interactions with fully tracked hands and articulated fingers.

We can use LabGraph to record the data captured from Quest headset and visualize the data (e.g. in Unity).

[2022-06-16 22:23] AlexeyAulov commented on #77
Hi There,
Just to clarify I need to simply the WebSocket connections in the labgraph_monitor_example.py itself?

[2022-07-22 02:23] dtemir commented on #77
Hi @AlexeyAulov!

So, I know you wrote this a while back, but I figured I'll reply in case you're still working on this.

WebSocket connections is totally fine as it is right now. It was built way before us.

The connections @jfResearchEng is talking about here are between different nodes in the example, like [`(self.NOISE_GENERATOR.NOISE_GENERATOR_OUTPUT, self.SERIALIZER.SERIALIZER_INPUT_1)`](htt

[2022-07-22 02:28] dtemir commented on #77
@AlexeyAulov you can always find me on our Fellowship Discord if you ever want to discuss more! Maybe we can even with have some time with @bennaaym who is an expert on everything LabGraph Monitor related

[2022-07-22 02:34] dtemir commented on #81
Hi @jfResearchEng! Is this still available to apply for?

[2022-07-22 03:00] jfResearchEng commented on #81
Yes! I'll follow up with you on more details.

[2022-08-03 15:33] jfResearchEng opened #87 "Update library dependency for LabGraph Monitor and LabGraph Viz"
## Description

Update library dependency as defined in the dependabot alerts. Reference [link](https://github.com/facebookresearch/labgraph/security/dependabot) for LabGraph Monitor and LabGraph Viz.

## Additional context

1. Add relevant test plans for LabGraph Monitor and LabGraph Viz.
2. Specify the relevant information: LabGraph Version (e.g., 2.0); OS (e.g., Linux/Mac/Windows)/ Python versi

[2022-08-26 21:24] jfResearchEng opened #89 "Real-time hand tracking using WebCam"
## 🚀 Feature
Hand tracking enables the use of hands as an input method for AR/VR applications. When using hands as input modality, it delivers a new sense of presence, enhances social engagement, and delivers more natural interactions with fully tracked hands and articulated fingers.

MediaPipe can be used for real-time hand tracking. LabGraph can be used to record the data captured from a webcam.

[2022-08-26 21:27] jfResearchEng opened #90 "Real-time hand tracking logging via WebCam in VRS format"
## 🚀 Feature
Hand tracking enables the use of hands as an input method for AR/VR applications. When using hands as input modality, it delivers a new sense of presence, enhances social engagement, and delivers more natural interactions with fully tracked hands and articulated fingers.

MediaPipe can be used for real-time hand tracking. LabGraph can be used to record the data captured from a webcam.

[2022-08-26 21:30] jfResearchEng opened #91 "Real-time hand pose visualization using mock hand pose estimation"
## 🚀 Feature
Hand tracking enables the use of hands as an input method for AR/VR applications. When using hands as input modality, it delivers a new sense of presence, enhances social engagement, and delivers more natural interactions with fully tracked hands and articulated fingers.

MediaPipe can be used for real-time hand tracking. LabGraph can be used to record the data captured from a webcam.

[2022-09-06 17:51] jfResearchEng opened #94 "Replay VRS file (image data) and generate hand pose"
## 🚀 Feature
Hand tracking enables the use of hands as an input method for AR/VR applications. When using hands as input modality, it delivers a new sense of presence, enhances social engagement, and delivers more natural interactions with fully tracked hands and articulated fingers.

MediaPipe can be used for real-time hand tracking. LabGraph can be used to record the data captured from a webcam.